---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---

@import "base/variables";

.container {
  padding: 1rem 0 1rem;
}

.site-title {
  color: $dark-grey;
  &,
  &:visited {
    color: $dark-grey;
  }
  &:hover {
    text-decoration: none;
  }
}

a {
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}

.nav {
  &:hover {
    text-decoration: none;
  }
}

.bottom-divider {
  border-bottom: 1px solid $light-grey;
}

.post-content {
  margin-top: 1rem;
}

.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
	float: left;
	margin-right: 10px;
}

.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-athlinks {
    width: 24px;
    height: 24px;
    background-position: -5px -5px;
}

.sprite-email {
    width: 24px;
    height: 24px;
    background-position: -5px -39px;
}

.sprite-facebook {
    width: 24px;
    height: 24px;
    background-position: -5px -73px;
}

.sprite-github {
    width: 24px;
    height: 24px;
    background-position: -5px -107px;
}

.sprite-linkedin {
    width: 24px;
    height: 24px;
    background-position: -5px -141px;
}

.sprite-rss {
    width: 24px;
    height: 24px;
    background-position: -5px -175px;
}

.sprite-stackoverflow {
    width: 24px;
    height: 24px;
    background-position: -5px -209px;
}

.sprite-strava {
    width: 24px;
    height: 24px;
    background-position: -5px -243px;
}
